<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Tccguilherme</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>tccguilherme</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb24392125090398628</string>
            </array>
        </dict>
    </array>
    <key>FacebookAppID</key>
    <string>24392125090398628</string>
    <key>FacebookClientToken</key>
    <string>89f37ee06b6a644507fd096f0353aba0</string>
    <key>FacebookDisplayName</key>
    <string>encontre-seu-pet</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fbauth2</string>
    </array>
	<key>NSCameraUsageDescription</key>
	<string>Este aplicativo precisa de acesso à câmera para que você possa tirar fotos de seus pets.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Este aplicativo precisa de acesso à sua galeria para que você possa escolher fotos de seus pets.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Este aplicativo precisa de sua localização para encontrar a posição do seu pet.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Este aplicativo precisa de sua localização para encontrar a posição do seu pet.</string>
	<string>347677702955-s84634drq7h50rm3jb7qja0rn04djhdf.apps.googleusercontent.com</string>                                                                               
    <key>CFBundleURLTypes</key>                                                                                                                                             
      <array>                                                                                                                                                                 
          <dict>                                                                                                                                                              
              <key>CFBundleTypeRole</key>                                                                                                                                     
              <string>Editor</string>                                                                                                                                         
              <key>CFBundleURLSchemes</key>                                                                                                                                   
              <array>                                                                                                                                                         
                  <string>com.googleusercontent.apps.347677702955-s84634drq7h50rm3jb7qja0rn04djhdf</string>
              </array>
			</dict>
	  </array>		
</dict>
</plist>
